body {
  font-family: "Lato", sans-serif;
}

.wpcontainer {
  position: fixed;
  right: 20px;
  bottom: 80px;
  width: 280px;
  height: 200px;
  padding: 10px;
  border-radius: 10px;
  background-color: #ffffff;
  z-index: 2;
  box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.35);
}

.wpcontainer_head {
  font-size: 28px;
  font-weight: bolder;
  text-align: center;
}

.wpcontainer_text {
  padding-top: 15px;
  text-align: center;
  font-weight: lighter;
}

.wpcontainer_closebtn {
  position: fixed;
  cursor: pointer;
  right: 35px;
  bottom: 245px;
  z-index: 4;
  text-align: right;
  font-size: 18px;
  font-weight: 600;
}

.wpcontainer_wplink {
  border: 1px solid rgb(235, 235, 235);
  border-radius: 30px;
  color: rgb(255, 255, 255);
  width: 100%;
  padding: 10px 24px;
  font-size: 16px;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-top: 10px;
  background: linear-gradient(rgb(18, 198, 101) 0%, rgb(0, 148, 70) 100%);
}

.whatsapp {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 2;
}

.social_links {
  position: absolute;
  margin-left: 1200px;
  margin-top: -85px;

}

.social_links a {
  margin-top: -90px;
  margin-left: 10px;
  left: 220px;
  top: 50px;
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: blanchedalmond;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #EEE8D8;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #000000;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.c {
  position: absolute;
  right: 43%;
  top: 2px;
  font-size: 60px;
  font-family: "Sacramento", sans-serif;
  text-align: center;
  color: rgb(148, 61, 35);
}

ul {
  list-style-type: none;
  float: right;
  margin-top: 25px;
  background-color: #EEE8D8;
  border-radius: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 35px;
}

ul li {
  display: inline-block;
  padding-left: 35px;
}

ul li a {
  text-decoration: none;
  color: rgb(149, 149, 149);
  ;
  padding: 5px 20px;
  border: 1px solid transparent;
  border-radius: 20px;
  transition: 0.6s ease;
}

ul li a:hover {
  color: #000000;
}

ul li.active a {
  background-color: white;
  color: black;
}

.navbar {
  position: absolute;
  top: 70px;
  left: 32%;
}

.grid_container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #e2d9cc;
  padding: 0px;
}

.grid_item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0px;
}

.title {
  width: 100%;
  margin-top: 155px;
  color: #232323;
  text-align: center;
  font-family: sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 35px;
}

.parallax {
  background-image: url("craft_1.png");
  min-height: 650px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax_1 {
  background-image: url("craft_2.png");
  min-height: 650px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax_2 {
  background-image: url("craft_3.png");
  min-height: 650px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.txtholder {
  position: relative;
  top: 180px;
  left: 170px;
  height: 320px;
  width: 400px;
}

.mm {
  font-size: 30px;
  cursor: pointer;
  color: #3C2317;
  margin-left: 10px;
  top: 124px;
}

.nogrid {
  display: none;
}

.pfooter {
  display: none;
}

.end {
  display: none;
}